//! NAVBAR
.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 999;
  padding: var(--spacing-sm) var(--spacing-lg) var(--spacing-sm) var(--spacing-lg);
  max-width: var(--standard-width);
  border-radius : var(--border-radius);
  margin-top: 10px;


  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-purple-1);
  }

  .menu {
    @include center;
    list-style: none;

    a {
      color: var(--color-black);
      margin: 0 var(--spacing-md);

      &:hover {

      }
    }

  }

  .nav-right {
    list-style: none;
    display: flex;
    align-items: center;

    a {
      color: var(--color-white-light);
      margin: 0 var(--spacing-sm);
    }

    .primary-button.nav-btn,
    .secondary-button.nav-btn {
      padding: 8px 16px;
      border-radius: var(--border-radius);
      text-decoration: none;
      transition: all 0.3s ease;
    }

    .primary-button.nav-btn {
      background-color: var(--color-purple-1);
      color: var(--color-white);
      border: none;

      &:hover {
        background-color: var(--color-blue-dark);
      }
    }

    .secondary-button.nav-btn {
      background-color: transparent;
      color: var(--color-purple-1);
      border: 1px solid var(--color-purple-1);

      &:hover {
        background-color: var(--color-purple-1);
        color: var(--color-white);
      }
    }


  }

  .hamburger {
    height: 30px;
    width: 25px;
    display: none;
    transition: all 0.3s ease-in-out;
    z-index: 5;



    &:hover {
      cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
      background-color: var(--color-black);
      height: 3px;
      width: 20px;
      margin: 3px;
      border-radius: var(--border-radius);
    }

    .animateBar1 {
      animation: flipBar1 0.2s;
      animation-fill-mode: forwards;
    }

    .animateBar2 {
      animation: fadeBar2 0.2s;
      animation-fill-mode: forwards;
    }

    .animateBar3 {
      animation: flipBar3 0.2s;
      animation-fill-mode: forwards;
    }
  }
}
.mobileNav {
  display: none;
  position: fixed;
  z-index: 50;
  top: 0;
  right : 0;
  height: 100vh;
  width: 60%;
  padding: 12px;
  transform: translateX(100%);
  transition: transform 0.5s ease;

  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  .menu {
    @include center;
    flex-direction: column;
    gap: 70px;
    height: 100%;


    li {
      list-style: none;

      a {
        color: var(--color-white);

        &:hover {
          color: var(--color-black);
        }
      }
    }
  }

  .mobile-nav-right {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xl);

    a {
      color: var(--color-white-light);
      margin: 0 var(--spacing-md);
    }

    .primary-button.nav-btn,
    .secondary-button.nav-btn {
      padding: 8px 16px;
      border-radius: var(--border-radius);
      text-decoration: none;
      transition: all 0.3s ease;
    }

    .primary-button.nav-btn {
      background-color: var(--color-purple-1);
      color: var(--color-white);
      border: none;

      &:hover {
        background-color: var(--color-blue-dark);
      }
    }

    .secondary-button.nav-btn {
      background-color: transparent;
      color: var(--color-purple-1);
      border: 1px solid var(--color-purple-1);

      &:hover {
        background-color: var(--color-purple-1);
        color: var(--color-white);
      }
    }
  }


}
.openMobileNav {
  transform: translateX(0)
}


//! HERO CONTENT
.hero {
  width: 100%;
  display: flex;
  height: 90vh;
  align-items: center;
  padding: calc(var(--spacing-xl) * 2) 0 0 0;
  justify-content: center;


  p {
    width: 480px;
  }

  .btn-container {
    display: flex;
    gap: var(--spacing-md);
    margin: var(--spacing-md) 0;
    align-items: center;
    color: var(--color-purple-1);

    Button:nth-of-type(2) {
      color: var(--color-purple-1);
    }

  }

  .hero-phone-container {
    height: 564px;
    align-items: flex-end;

    .hero-phone {
      height: 628px;
      transform: translate(32px, -32px);

    }
  }
}


//! About Blogify SECTION
.about-blogify {
  background-color: var(--color-white-light);

  width: 100%;

  display: flex;
  justify-content: center;
  padding: var(--spacing-xl) 0;

  h2 {
    width: 50%;
    margin-bottom: var(--spacing-md);
  }

  .primary-button {
    margin: var(--spacing-md) 0;
    background-color: var(--color-purple-1);

    &:hover {
      background-color: var(--color-blue-dark);

    }
  }
}


//! FORM STYLING
.form-container {
  @include form-container-base;
  width: 600px;



  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 25px;

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="url"],
    input[type="date"],
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: var(--border-radius);

      &:focus {
        outline: none;
        border-color: var(--color-purple-1);
      }
    }

    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      height: 100px;
      border-radius: var(--border-radius);
      resize: none;

      &:focus {
        outline: none;
        border-color: var(--color-purple-1);
      }
    }

    input[type="checkbox"] {
      width: 18px;
      height: 18px;
      accent-color: var(--color-purple-1);
      cursor: pointer;

      &:focus {
        outline: none;
        border-color: var(--color-purple-1);
      }
    }

    input[type="radio"] {
      margin-right: 5px;

      &:focus {
        outline: none;
        border-color: var(--color-purple-1);
      }
    }

    input[type="submit"] {
      background-color: var(--color-purple-1);
      color: var(--color-white);
      border: none;
      padding: 10px 15px;
      font-size: 16px;
      cursor: pointer;
      border-radius: var(--border-radius);
      width: 100%;
      margin-top: 10px;

      &:hover {
        background-color: var(--color-blue-dark);
      }
    }
  }
}
.form-container.blur-bg {
  @include form-container-base;

  input[type="text"],
  input[type="email"] {
    background-color: transparent;
    color: var(--color-white);
    &:focus {
      outline: none;
      border-color: var(--color-blue-light);
    }
    &::placeholder {
        color: var(--color-grey);
    }
  }


  #message {
    background-color: transparent;
    color: var(--color-white);
    &:focus {
      outline: none;
      border-color: var(--color-blue-light);
    }
    &::placeholder {
        color: var(--color-grey);
    }
  }

  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

// ! Error message
.error {
  color: var(--color-error);
  background-color: #f2dede;
  border : 1px solid #ebccd1;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
}


//! TO DOD PAGE
.todoApp {
  text-align:center;
  margin-top:100px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    input[type="text"] {
      width: 400px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: var(--border-radius);
      margin-right: 10px;


      &:focus {
        outline: none;
        border-color: var(--color-purple-1);
      }
    }


    button {
      color: var(--color-white);
      background-color: var(--color-purple-1);
      border: none;
      padding: 10px 10px;
      cursor: pointer;
      border-radius: var(--border-radius);
      @include hover-transition;

      &:hover {
        background-color: #0056b3;
      }
    }
  }



  ul {
    list-style-type: none;
    padding: 0;
    width: 600px;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #8d9aa3;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
    }

    li {
      background-color: #ffffff;
      padding: 15px;
      margin-bottom: 10px;
      border-bottom: 1px solid #eaeaea;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span.completed {
        background-color: #d4edda;
        text-decoration: line-through;
        color: #6c757d;
        padding: 10px;
      }

      form {
        display: inline-block;
      }

    }


    button.complete {
      background: var(--color-success);
      color: white;
      @include hover-transition;

      &:hover {
        background: #218838;
      }

    }

    button.delete {
      background-color: var(--color-error);
      color: white;
      margin-left: 10px;
      @include hover-transition;

      &:hover {
        background-color: #c82333;
      }
    }

    button.undo {
      background-color: var(--color-edit);
      color: white;
      margin-left: 10px;
      @include hover-transition;

      &:hover {
        background-color: #e0a800;
      }
    }
  }
}


//! Graphic-Grid SECTION
.graphic-section {
  width: 100%;

  display: flex;
  justify-content: center;
  background-color: var(--color-white);



  .graphic-grid {
    display: grid;
    grid-gap: var(--spacing-lg);
    grid-template-areas:
      "card slack slack"
      "phone slack slack"
      "phone dash dash"
      "phone dash dash"
  ;
    padding: var(--spacing-lg) 0;


  }

  #card {
    grid-area: card;
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);

  }

  #slack {
    grid-area: slack;
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);


  }

  #phone {
    grid-area: phone;
    width: 100%;
  }

  #dash {
    grid-area: dash;
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);


  }
}


//! Designed SECTION
.designed-section {
  color: var(--color-white-light);
  padding: calc(var(--spacing-xl) * 3) 0;

  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    width: 100%;
    height: 1100px;
    background-color: var(--color-blue-dark);
    position: absolute;
    top: -32px;
    left: 0;
    z-index: -1;
    transform: skewY(-10deg);
  }

  .primary-button {
    color: var(--color-blue-dark);
    background-color: var(--color-blue-light);
    margin: var(--spacing-md) 0 0 0;

    &:hover {
      background-color: var(--color-white);
    }
  }

  .secondary-button {
    color: var(--color-blue-light);

  }

  .card-container {
    display: flex;
    margin: var(--spacing-lg) 0;

    .card {
      width: 50%;
    }
  }

  .col-right {
    #terminal {
      max-width: 470px;
      border-radius: var(--border-radius);
      margin-top: var(--spacing-md);
    }

    #api-code {
      max-width: 470px;
      border-radius: var(--border-radius);
    }
  }
}


//! Why Blogify SECTION
.why-blogify-section {
  display: flex;
  justify-content: center;
  padding: calc(var(--spacing-xl) * 3) 0;

  .card-container {
    display: flex;
    margin: var(--spacing-lg) 0;

    .card {

      width: 25%;
      padding: 0 var(--spacing-sm) 0 0;
      margin: 0 var(--spacing-md) 0 0;

      p {
        color: var(--color-black);
      }
    }
  }
}


//! Contact SECTION
.global-section {
  display: flex;
  justify-content: center;
  color: var(--color-white);
  position: relative;
  padding: calc(var(--spacing-xl) * 3) 0 calc(var(--spacing-xl) * 2) 0;

  &::before {
    content: "";
    width: 100%;
    height: 1200px;
    background-color: var(--color-blue-dark);
    position: absolute;
    top: -32px;
    left: 0;
    z-index: -1;
    transform: skewY(-10deg);
  }

  a {
    color: var(--color-blue-light);

    &:hover {
      color: var(--color-white);

    }
  }

  .card-container {
    display: flex;
    margin: var(--spacing-xl) 0;

    .card {
      width: 25%;
      padding: 0 var(--spacing-sm) 0 0;
      margin: 0 var(--spacing-md) 0 0;

      h3 {
        border-left: 2px solid var(--color-blue-light);
        padding: 0 0 0 var(--spacing-sm);
        line-height: 28px;
      }
    }
  }

  #globe {
    max-width: 844px;
    opacity: 25%;
    position: absolute;
    top: 10%;
    right: 10%;
  }
}


//! Virtual events SECTION
.virtual-section {
  display: flex;
  justify-content: center;
  padding: calc(var(--spacing-xl) * 2) 0;
  background-color: #fff;
  z-index: 2;

  .primary-button {
    background-color: var(--color-purple-1);
    margin-top: var(--spacing-md);

    &:hover {
      background-color: var(--color-blue-dark);

    }
  }

  .col-left {
    height: 446px;
    padding: 0 var(--spacing-xl) 0 0;

  }

  .blogify-card {
    width: 540px;
    height: 446px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;

    .card-top {
      width: 100%;
      @include center;
      position: relative;

      height: 60%;
      background-color: #21D4FD;
      background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

      .blogify {
        width: 500px;
        font-size: var(--h3-size);
        font-weight: 600;
        text-align: center;
      }

      .avatars {
        position: absolute;
        bottom: 0;
        left: 30px;


        img {
          width: 80px;
        }

        img:nth-of-type(2) {
          position: absolute;
          left: 58px;
        }
      }


    }

    .card-bottom {
      width: 100%;
      height: 40%;
      padding: var(--spacing-lg) 0 0 var(--spacing-lg);

      .bottom-content {
        .p2 {
          color: var(--color-black);
          width: 40%;
          font-weight: 600;

        }
      }
    }
  }
}


// ! Containers
.container {
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top : 80px;
}


//! Blog Page
.blog-page {

  max-width: 1200px;


  .filter-bar {
    width: 100%;
    margin-bottom: 60px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .filter-btn {
      background-color: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);

      border: 1px solid var(--color-purple-1);
      color: var(--color-blue-dark);
      padding: 8px 18px;
      border-radius: var(--border-radius);
      cursor: pointer;
      font-size: 0.9rem;
      font-weight: 600;
      @include hover-transition;

      &.active, &:hover {
        background-color: var(--color-purple-1);
        color: var(--color-white);
      }
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--color-white);
        text-decoration: none;
        font-weight: 600;
      }
    }

    .filters {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;



    }
  }

  .blogs-wrapper {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;


    .pagination {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 12px;
      flex-wrap: wrap;

      .page-link, .next-btn {
        display: inline-block;
        padding: 10px 16px;
        border: 1px solid var(--color-purple-1);
        border-radius: 6px;
        color: var(--color-purple-1);
        font-weight: 600;
        text-decoration: none;
        font-size: 0.9rem;
        @include hover-transition;

        &:hover {
          background-color: var(--color-purple-1);
          color: var(--color-white);
        }
      }

      .active {
        background-color: var(--color-purple-1);
        color: var(--color-white);
      }

      .dots {
        color: var(--color-purple-1);
        font-weight: bold;
        font-size: 1.1rem;
      }
    }
  }

  .blog {
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;


    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .content {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      height: 100%;
      flex-direction: column;
      gap: 12px;

      h2 {
        position: absolute;
        font-size: 1.4rem;
        text-align: start;
        color: var(--color-black);
        width: 100%;
        margin: 0;
        top: 0;
        left: 0;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
      }

      .author {
        display: flex;
        gap: 10px;
        font-size: 0.85rem;
        color: var(--color-purple-1);

        .author-name {
          font-weight: bold;
        }
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 5px;

        .tag {
          font-size: 0.7rem;
          padding: 4px 12px;
          border-radius: 50px;
          border: 1px solid var(--color-purple-1);
        }
      }

      p {
        font-size: 0.9rem;
      }

      .primary-button {
        margin: var(--spacing-md) 0;
        background-color: var(--color-purple-1);
        color: var(--color-white);

        &:hover {
          background-color: var(--color-blue-dark);

        }
      }

    }
  }
}


//! PROFILE PAGE
.profilePage {

  width: 100%;
  max-width: 1200px;
  margin: 150px auto 0 auto;


    h2 {
      margin-bottom: var(--spacing-lg);
    }

    .account-info{
      margin-bottom: 40px;
      span {
        color: var(--color-purple-1);
        font-weight: bold;
      }
    }



  .user-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: var(--spacing-lg);

    .update-user {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;

      .form-container {
        width: 380px;
      }


      p {
        font-size: 0.9rem;
        color: #7f7f7f;
      }

      .form-container{
        form {
          .primary-button {
            margin: var(--spacing-md) 0;
            background-color: var(--color-purple-1);
            color: var(--color-white);

            &:hover {
              background-color: var(--color-blue-dark);

            }
          }
        }


      }
    }

    #passwordForm {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .form-container {
        width: 380px;
      }


      .password-user {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;


        p {
          font-size: 0.9rem;
          color: #7f7f7f;
        }

        .form-container{
          form {
            .confirmationStep {
              display: flex;
              gap: 20px;
              align-items: center;
              justify-content: center;
              width: 100%;

              .cancelConfirm {
                font-family: var(--body-font), serif;
                font-size: var(--btn-size);
                letter-spacing: 1.25px;
                border-radius: var(--border-radius);
                border: 1px solid var(--color-grey);
                margin: var(--spacing-md) 0;
                color: var(--color-black);
                padding: 8px 16px;
                cursor: pointer;
                transition: all 0.15s ease;
                background-color: transparent;

                &:hover {
                  background-color: var(--color-blue-dark);
                  color: var(--color-white);


                }
              }

            }


            .primary-button {
              margin: var(--spacing-md) 0;
              background-color: var(--color-purple-1);
              color: var(--color-white);

              &:hover {
                background-color: var(--color-blue-dark);

              }
            }


          }
        }
      }

      .delete-admin{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;

        p {
          font-size: 0.9rem;
          color: #7f7f7f;
        }
      }
    }
    #passwordBtn {
      display: inline-block;
    }

    #passwordConfirm,
    #cancelConfirm {
      display: none;
    }


    #userInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 380px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: var(--border-radius);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: var(--color-white);

      transition: opacity 0.3s ease;

      .user-info-content{
        margin-top: 3px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
          color: #7f7f7f;
          font-size: 0.9rem;

        }
      }

      p{
        font-size: 0.9rem;
      }

    }
    #deleteModal {
      display: none;

      width: 380px;
      height: 265px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: var(--border-radius);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: var(--color-white);



      z-index: 10;

      .user-info-content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h6 {
          color: #7f7f7f;
          text-align: center;

          span {
            color: var(--color-error);
          }

        }

        .user-info-buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          margin-top: 20px;

          .cancelConfirmDelete {
            font-family: var(--body-font), serif;
            font-size: var(--btn-size);
            letter-spacing: 1.25px;
            border-radius: var(--border-radius);
            border: 1px solid var(--color-grey);
            margin: var(--spacing-md) 0;
            color: var(--color-black);
            padding: 8px 16px;
            cursor: pointer;
            transition: all 0.15s ease;
            background-color: transparent;

            &:hover {
              background-color: var(--color-blue-dark);
              color: var(--color-white);


            }
          }

        }
      }

    }

  }


}

//! USERS TABLE
.userTable {
  width: 100%;
  max-width: 1200px;
  margin: 150px auto 0 auto;


    h2 {
      margin-bottom: var(--spacing-lg);
    }
}


// ! TABLE STYLING
.tableContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;

    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      background-color: var(--color-purple-1);
      color: var(--color-white);
      padding: 0.2rem 1rem;
      border-radius: 1rem;
      font-weight: lighter;
      font-size: 14px;
    }

  }

  .search {
    display: flex;
    gap: 10px;
    align-items: center;

    form {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 100%;
    }

    input[type="text"] {
      width: 300px;
      padding: 10px;
      border-radius: var(--border-radius);
      border: 1px solid #ccc;
      margin-right: 10px;
    }

    button {
      color: var(--color-white);
      background-color: var(--color-purple-1);
      border: none;
      padding: 6px;
      cursor: pointer;
      border-radius: var(--border-radius);

      img {
        display: block;
        width: 20px;
        height: 20px;
        object-fit: contain;
        pointer-events: none;
      }
    }
  }
}
.user-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: var(--border-radius);

  .admin {
    background-color: #e74c3c;
    color: white;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.9rem;
  }

  .user {
    background-color: #3498db;
    color: white;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.9rem;
  }

  th,
  td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 0.9rem;

    span {
      font-size: 0.9rem;
      color: var(--color-error);
    }

  }

  th {
    background-color: var(--color-purple-1);
    color: var(--color-white);

  }

  td {
    background-color: #f9f9f9;

  }

  .restricted{
    color: var(--color-error);
  }
}


//! BUTTONS STYLES
.primary-button {
  font-family: var(--body-font), serif;
  font-size: var(--btn-size);
  letter-spacing: 1.25px;
  border-radius: var(--border-radius);
  border: none;
  color: var(--color-white);
  background-color: var(--color-blue-dark);
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.15s ease;

  &:hover {
    background-color: var(--btn-hover);

  }
}
.secondary-button {
  font-family: var(--body-font), serif;
  font-size: var(--btn-size);
  letter-spacing: 1.25px;
  border-radius: var(--border-radius);
  border: none;
  color: var(--color-purple-2);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.15s ease;

  &:hover {
    opacity: 0.75;
  }
}
.nav-btn {
  background-color: rgba(250, 250, 250, 0.25);

  &:hover {
    background-color: rgba(250, 250, 250, 0.5);

  }
}
.with-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover img {
    transform: translateX(4px);
    transition: transform 0.25s ease;

  }
}
.edit,
.delete {
  padding: 5px 10px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  @include hover-transition;
  font-size: 12px;
  color: var(--color-white);
}
.edit {
  background: var(--color-edit);

  &:hover {
    background:  #e0a800;
  }
}
.delete {
  background: var(--color-error);

  &:hover {
    background: #c82333;
  }
}
.delete-button {

  font-family: var(--body-font), serif;
  font-size: var(--btn-size);
  letter-spacing: 1.25px;
  border-radius: var(--border-radius);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: var(--spacing-md) 0;
  color: var(--color-white);
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.15s ease;
  background-color: var(--color-error);

  &:hover {
    background-color: var(--color-blue-dark);

  }

  img {
    height: 16px;
    margin-right: 10px;
  }
}
.action-buttons {
  display: inline-flex;
  align-items: center;
  width: 150px;
  height: 25px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    padding: 0 0.8rem;
    font-size: 12px;
    border: none;
    border-radius: 50px;
    background-color: #007bff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    span {
      transition: all 0.3s ease-in-out;
      display: inline-block;
    }
  }

  .edit-btn {
    position: absolute;
    left: 0.25rem;
    width: calc(75% - 0.5rem);
    transition: all 0.3s ease-in-out;
    background-color: var(--color-edit);

    .edit-text {
      color: var(--color-white);
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
      visibility: visible;
    }

    .edit-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 20px;
      height: 20px;
      color: var(--color-white);
      opacity: 0;
      transform: translateX(-15px);
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

      img {
        display: block;
        width: 15px;
        height: 15px;
        object-fit: contain;
        pointer-events: none;
      }
    }
  }

  .delete-btn {
    position: absolute;
    right: 0.25rem;
    width: 25px;
    justify-content: flex-end;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-error);

    .delete-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      transform: translateX(0);
      color: var(--color-white);
      width: 100%;
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

      img {
        display: block;
        width: 12px;
        height: 12px;
        object-fit: contain;
        pointer-events: none;
      }
    }

    .delete-text {
      color: var(--color-white);
      position: absolute;
      opacity: 0;
      transform: translateX(15px);
      white-space: nowrap;
      visibility: hidden;
      transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out, visibility 0.1s;
    }
  }

  // Hover effects
  &:has(.delete-btn:hover) {
    .edit-btn {
      width: 25px;
      justify-content: center;
      padding: 0;

      .edit-text {
        opacity: 0;
        transform: translateX(15px);
        visibility: hidden;
      }

      .edit-icon {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .delete-btn {
      width: calc(75% - 0.4rem);
      justify-content: center;

      .delete-icon {
        opacity: 0;
        transform: translateX(-15px);
      }

      .delete-text {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
      }
    }
  }
}




//! Modal styling
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  .form-container {

    .modal-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;
      gap: 10px;
    }


  }


  .close {
    font-size: 24px;
    cursor: pointer;
    font-weight : lighter;
    color: gray;

    &:hover {
      color: var(--color-blue-dark);
    }
  }
}
.deleteUserModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  .modal-content {
    background-color: white;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    position: relative;

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;
      gap: 10px;


    }

    p {
      font-size: 0.9rem;
      color: #7f7f7f;
    }


    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 25px;


        input[type="password"] {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: var(--border-radius);

          &:focus {
            outline: none;
            border-color: var(--color-purple-1);
          }
        }
    }

    .cancelConfirmDelete {
      font-size: 24px;
      cursor: pointer;
      font-weight : lighter;
      color: gray;

      &:hover {
        color: var(--color-blue-dark);
      }
    }

    .delete-button {
      margin-top: 30px;
    }
  }
}
.editModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  .form-container {

    .modal-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;
      gap: 10px;
    }


  }


  .closeEditUserModal {
    font-size: 24px;
    cursor: pointer;
    font-weight : lighter;
    color: gray;

    &:hover {
      color: var(--color-blue-dark);
    }
  }
}
.deleteOneUserModal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  .modal-content {
    background-color: white;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    position: relative;

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 20px;
      gap: 10px;
    }

    p {
      font-size: 0.9rem;
      color: #7f7f7f;
    }

    .permanently {
      color: var(--color-error);
    }


    .deleteOneUserModal-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 20px;

      .cancelConfirmDeleteUser {
        font-family: var(--body-font), serif;
        font-size: var(--btn-size);
        letter-spacing: 1.25px;
        border-radius: var(--border-radius);
        border: 1px solid var(--color-grey);
        margin: var(--spacing-md) 0;
        color: var(--color-black);
        padding: 8px 16px;
        cursor: pointer;
        transition: all 0.15s ease;
        background-color: transparent;

        &:hover {
          background-color: var(--color-blue-dark);
          color: var(--color-white);
        }
      }
    }
  }
}



//! Waiting SECTION
.waiting-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--spacing-xl) 0;

  .primary-button {
    background-color: var(--color-purple-1);
    margin-top: var(--spacing-md);

    &:hover {
      background-color: var(--color-blue-dark);
    }
  }

  .section-container {

    align-items: center;
  }

  .col-left {
    padding: 0 var(--spacing-xl) 0 0;
    height: 250px;
    display: flex;
    justify-content: center;
  }

  .col-right {
    .card-container {
      display: flex;

      .card {
        padding: 0 var(--spacing-sm);
      }

      .secondary-button {
        color: var(--color-purple-1);
      }
    }
  }
}


//! Footer
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--spacing-xl) 0;
  background-color: var(--color-white-light);

  .section-container {
    display: flex;

    .col {
      width: 25%;
      display: flex;
      flex-direction: column;

      .logo {
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: var(--color-purple-1);

        &:hover {
          color: var(--color-blue-dark);
          text-decoration: underline;
        }
      }

      .icon-link {
        display: flex;
        align-items: center;
        gap: var(--spacing-md);
        margin: var(--spacing-md) 0;

        img {
          width: 24px;
        }
      }

      a {
        color: var(--color-black);
        font-weight: normal;

        &:hover {
          color: var(--color-purple-1);
          text-decoration: underline;
        }
      }

      h3 {
        font-size: var(--h6-size);
        font-weight: 700;
      }

      ul {
        list-style: none;

        a {
          color: var(--color-black);
        }

        li {
          margin: var(--spacing-md) 0;
        }
      }
    }
  }
}

//!  **** RESPONSIVE LAYOUT ***
@media only screen and (max-width: 1144px) {
  :root {
    --h1-size: 70px;
    --h1-height: 90px;
  }

  .section-container {
    padding: 0 var(--spacing-md);
  }

  // * NAVBAR
  .navbar {
    padding: var(--spacing-sm) var(--spacing-lg) var(--spacing-sm) var(--spacing-lg);
  }

  //* HERO SECTION
  .hero {
    padding: 0;

    p {
      width: 100%;
    }

    .section-container {
      align-items: center;
    }

    .hero-phone-container {
      .hero-phone {
        transform: translate(-32px);
      }
    }
  }
}
@media only screen and (max-width: 850px) {

  :root {
    --h1-size: 50px;
    --h1-height: 55px;
  }

  main {
    margin: 0;
  }

  //* HERO SECTION
  .hero {
    padding: 0;

    p {
      width: 100%;
    }

    .section-container {
      align-items: center;
    }

    .hero-phone-container {

      .hero-phone {
        height: 500px;
        transform: translate(-32px);
      }
    }
  }

  //* LOGOS SECTION
  .logos {
    .logos-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  //* Virtual events SECTION
  .virtual-section {
    .blogify-card {
      .card-top {
        justify-content: start;

        .blogify {
          width: 250px;
          margin-left: var(--spacing-xl);
        }
      }
    }
  }

}


//! TABLET SIZE
@media only screen and (max-width: 768px) {

  :root {
    --h1-size: 50px;
    --h1-height: 55px;
    --h3-size: 34px;
  }

  // * NAVBAR
  .navbar {
    .menu {
      display: none;
    }

    .nav-btn {
      display: none;
    }

    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      right: var(--spacing-md);
    }
  }

  .mobileNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  // * Logos Section

  .logos {
    .logos-grid {
      margin-bottom: var(--spacing-xl);
    }
  }

  //* HERO SECTION
  .hero {
    padding: 0;

    p {
      width: 330px;
    }

    .section-container {
      align-items: center;
      margin-top: 150px;

    }

    .col-left {
      width: 60%;
    }

    .col-right {
      width: 40%;
    }

    .hero-phone-container {
      .hero-phone {
        height: 450px;
        transform: translateX(32px);

      }
    }
  }

  //* ABOUT BLOGIFY SECTION
  .about-blogify {
    h2 {
      width: 100%;
    }
  }

  //* Designed SECTION
  .designed-section {
    padding: var(--spacing-xl) 0;

    .card-container {
      flex-direction: column;

      .card {
        width: 100%;
      }
    }
  }

  //* Why Blogify SECTION
  .why-blogify-section {
    padding: calc(var(--spacing-xl) * 3) 0 var(--spacing-xl) 0;

    .icon {
      height: 40px;
      width: 40px;
    }

    .card-container {
      flex-wrap: wrap;

      .card {
        width: 50%;
        margin: var(--spacing-md) 0;
      }
    }
  }

  //* Global scale SECTION
  .global-section {
    padding: calc(var(--spacing-xl) * 2) var(--spacing-xl) 0 0;

    .card-container {
      flex-wrap: wrap;
      margin: var(--spacing-xl) 0;

      .card {
        width: 50%;
        margin: var(--spacing-md) 0;
      }
    }
  }

  //* Virtual events SECTION

  .virtual-section {
    .blogify-card {
      .card-top {
        .blogify {
          margin-left: var(--spacing-md);

        }
      }
    }
  }

}


//! MOBILE SIZE
@media only screen and (max-width: 550px) {

  :root {
    --h1-size: 55px;
    --h1-height: 55px;
    --h3-size: 34px;
  }

  .two-col {
    flex-direction: column;

    .col-left {
      width: 100%;
    }

    .col-right {
      width: 100%;
      padding: 0;
    }
  }

  // * NAVBAR
  .navbar {
    padding: var(--spacing-sm) var(--spacing-lg) var(--spacing-sm) var(--spacing-lg);


  }

  #gradient-canvas {
    height: 820px;
  }

  //* HERO SECTION
  .hero {
    padding: var(--spacing-lg) 0 0;

    p {
      width: 100%;
    }

    .hero-phone-container {
      display: none;
    }

    .section-container{
      margin-top: 150px;
    }
  }

  //* LOGOS SECTION
  .logos {
    .logos-grid {
      grid-template-columns: repeat(2, 1fr);

      img {
        height: auto;
        width: 100%;
      }
    }
  }

  //* Designed SECTION
  .designed-section {
    padding: calc(var(--spacing-xl) *2) 0 0 0;

    .col-right {
      display: none;
    }
  }

  //* Why Blogify SECTION
  .why-blogify-section {
    .icon {
      height: 35px;
      width: 35px;
    }

    .card-container {
      .card {
        width: 100%;
        margin: var(--spacing-sm) 0;
      }
    }
  }

  //* Global scale SECTION
  .global-section {
    padding: var(--spacing-xl) 0 0 0;

    #globe {
      opacity: 10%;
    }

    .card-container {
      .card {
        width: 100%;
      }
    }
  }

  //* Virtual events SECTION

  .virtual-section {
    padding: var(--spacing-md) 0;

    .col-left {
      padding: 0;
    }

    .blogify-card {
      width: 100%;
      height: 350px;

      .card-top {
        height: 50%;

        .blogify {

          width: 250px;
          justify-content: start;
        }

        .avatars img {
          width: 50px;

          &:nth-of-type(2) {
            left: 36px;
          }
        }


      }

      .card-bottom {
        height: 50%;

        .bottom-content {
          .p2 {
            width: 100%;
          }
        }
      }
    }
  }


  // * FOOTER
  .footer {
    .section-container {
      flex-wrap: wrap;

      .col {
        width: 50%;
        margin: var(--spacing-md) 0;

        a {
          font-size: 14px;
        }


        .icon-link img {
          width: 18px;
        }
      }
    }
  }
}


html,
body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(45deg) translate(3px, 10px);
  }
}
@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }

  to {
    transform: scaleX(0);
    opacity: 0;
  }
}
@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-45deg) translate(3px, -10px);
  }
}
