
$primary-color: #3775b9;
$primary-hover: #004080;
$secondary-color: #575757;
$dark-bg: #333;
$light-bg: #f4f4f4;
$text-color: #333;
$white: #ffffff;
$error-color: #dc3545;
$success-color: #28a745;
$edit-color: #ffc107;
$border-radius: 5px;

@mixin hover-transition {
  transition: all 0.3s ease-in-out;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: $light-bg;
  color: $text-color;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: $text-color;
}

// ======================================
// NAVBAR
// ======================================


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: $dark-bg;

  .nav-left {
    .logo {
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      color: $white;

    }
  }

  .nav-center {
    flex: 1;
    display: flex;
    justify-content: center;

    .nav-links {
      list-style: none;
      display: flex;

      li {
        a {
          color: $white;
          padding: 10px 30px;
          text-decoration: none;
          font-weight: 500;
          @include hover-transition;

          &:hover {
            background-color: $secondary-color;
            border-radius: $border-radius;
            color: $white;

          }
        }
      }
    }
  }

  .nav-right {
    display: flex;
    align-items: center;

    .auth-links {
      list-style: none;
      display: flex;
      color: $white;

      li {
        a {
          text-decoration: none;
          color: $white;
          font-weight: 500;
          padding: 10px 30px;
          @include hover-transition;

          &:hover {
            background-color: $secondary-color;
            border-radius: $border-radius;
            color: $white;
          }
        }
      }
    }
  }
}


// ======================================
// PAGES STYLING
// ======================================
.login {
  background-color: #ebebeb;
}

// ======================================
// HERO SECTION
// ======================================
.hero {
  background-image: url("../images/hero-image.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  text-align: center;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }

  h1 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.2em;
    margin-top: 10px;
  }

  .hero-buttons {
    margin-top: 20px;

    .btn {
      display: inline-block;
      background: $primary-color;
      color: $white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: $border-radius;
      @include hover-transition;
      font-weight: bold;

      &:hover {
        background: $primary-hover;
        color: $white;
      }
    }
  }
}

.primary-btn {
    background-color: $primary-color;
    color: $white;
    padding: 5px 10px;
    border-radius: $border-radius;
    text-decoration: none;
    @include hover-transition;
    border: none;

    &:hover {
        background-color: $primary-hover;
        color: $white;
    }
}

// ======================================
// CONTAINERS
// ======================================
.container {
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;

  .filter-bar {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;

    .filters {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;

      .filter-btn {
        background: $white;
        border: 1px solid $primary-color;
        color: $primary-color;
        padding: 8px 18px;
        border-radius: 50px;
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: 600;
        @include hover-transition;

        &.active, &:hover {
          background-color: $primary-color;
          color: $white;
        }
      }
    }
  }

  .pagination {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 12px;
    flex-wrap: wrap;

    .page-link, .next-btn {
      display: inline-block;
      padding: 10px 16px;
      border: 1px solid $primary-color;
      border-radius: 6px;
      color: $primary-color;
      font-weight: 600;
      text-decoration: none;
      font-size: 0.9rem;
      @include hover-transition;

      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }

    .active {
      background-color: $primary-color;
      color: $white;
    }

    .dots {
      color: $secondary-color;
      font-weight: bold;
      font-size: 1.1rem;
    }
  }


  .blogs-wrapper {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .blog {
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border : 1px solid #8d9aa3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;


    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .content {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 12px;

      h2 {
        position: absolute;
        font-size: 1.4rem;
        text-align: start;
        color: $primary-color;
        width: 100%;
        margin: 0;
        top: 0;
        left: 0;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
      }

      .author {
        display: flex;
        gap: 10px;
        font-size: 0.85rem;
        color: $secondary-color;

        .author-name {
          font-weight: bold;
        }
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 5px;

        .tag {
          font-size: 0.7rem;
          padding: 4px 12px;
          border-radius: 50px;
          border: 1px solid $primary-color;

          &:hover {
            @include hover-transition;
          }
        }
      }

      p {
        font-size: 0.9rem;
      }

      button {
        a {
          text-decoration: none;
          color: $primary-color;

          &:hover {
            color: $primary-hover;
          }
        }

        display: flex;

        align-items: center;
        color: $primary-color;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 10px;
        padding: 8px 16px;

        @include hover-transition;

        &:active,
        &:hover {
          color: $primary-hover;
        }
      }
    }
  }
}



.tableContainer {
  margin: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;

    h3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      background-color: rgba(55, 117, 185, 0.50);
      color: $white;
      border: 1px solid $primary-color;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      font-weight: lighter;
      font-size: 14px;
    }

  }

  .search {
    display: flex;
    gap: 10px;
    align-items: center;

    form {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
    }

    input[type="text"] {
      width: 300px;
      padding: 10px;
      border-radius: $border-radius;
      border: 1px solid #ccc;
      margin-right: 10px;
    }

    button {
      color: $white;
      background-color: $primary-color;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: $border-radius;
    }
  }
}

// ======================================
// FORM STYLING
// ======================================
.form-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: $white;
  color: black;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: $border-radius;
    }

    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: $border-radius;
        resize: none;
    }

    input[type="checkbox"] {
      width: 18px;
      height: 18px;
      accent-color: $primary-color;
      cursor: pointer;
    }

    input[type="radio"] {
      margin-right: 5px;
    }

    input[type="submit"] {
      background-color: $primary-color;
      color: $white;
      border: none;
      padding: 10px 15px;
      font-size: 16px;
      cursor: pointer;
      border-radius: $border-radius;
      width: 100%;
      margin-top: 10px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

// ======================================
// TABLE STYLING
// ======================================
.user-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: $border-radius;

  .admin {
    background-color: #e74c3c;
    color: white;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.9rem;
  }

  .user {
    background-color: #3498db;
    color: white;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.9rem;
  }

  th,
  td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;

    span {
        font-size: 0.9rem;
        color: $error-color;
    }

  }

  th {
    background-color: $primary-color;
    color: $white;

  }

  td {
    background-color: #f9f9f9;

  }
}

// ======================================
// BUTTONS
// ======================================
.edit,
.delete {
  padding: 5px 10px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  @include hover-transition;
  font-size: 12px;
  color: $white;
}

.edit {
  background: $edit-color;

  &:hover {
    background:  #e0a800;
  }
}

.delete {
  background: $error-color;

  &:hover {
    background: #c82333;
  }
}

// ======================================
// ERROR MESSAGES
// ======================================
.error {
  color: $error-color;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

// ======================================
// TOAST NOTIFICATIONS
// ======================================
.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background: $success-color;
  color: $white;
  padding: 15px 20px;
  border-radius: $border-radius;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 16px;
  animation: fadeIn 0.5s;

  &.error {
    background: $error-color;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}





.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  .modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    position: relative;
  }

  .close {
    font-size: 24px;
    cursor: pointer;
    font-weight : lighter;
    color: gray;

    &:hover {
        color: $secondary-color;
    }
  }
}



// ======================================
// NOTIFICATION CONTAINER
// ======================================


.todoApp {
  text-align:center;
  margin-top:100px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;

    /* Notification Container */
    .notification-container {
      position: fixed;
      top: 20px;
      right: 0px;
      transform: translateX(-50%);
      width: 100%;
      max-width: 600px;
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .notification {
      padding: 15px;
      border-radius: 5px;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      opacity: 0;
      animation: fadeInOut 4s forwards;
    }

    /* Success Notification */
    .notification.success {
      background-color: #28a745;
    }

    /* Error Notification */
    .notification.error {
      background-color: #dc3545;
    }

    /* Fade In and Out Animation */
    @keyframes fadeInOut {
      0% {
        opacity: 0;
        transform: translateY(-20px);
      }
      10% {
        opacity: 1;
        transform: translateY(0);
      }
      90% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translateY(-20px);
      }
    }


    form {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      input[type="text"] {
        width: 300px;
        padding: 10px;
        border-radius: $border-radius;
        border: 1px solid #ccc;
        margin-right: 10px;
      }

      button {
        color: $white;
        background-color: $primary-color;
        border: none;
        padding: 10px 10px;
        cursor: pointer;
        border-radius: $border-radius;
        @include hover-transition;

        &:hover {
          background-color: #0056b3;
        }
      }
    }



    ul {
      list-style-type: none;
      padding: 0;
      width: 600px;
      max-height: 500px;
      overflow-y: auto;
      border: 1px solid #eaeaea;
      border-radius: 8px;
      background-color: #f9f9f9;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #8d9aa3;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
      }

      li {
        background-color: #ffffff;
        padding: 15px;
        margin-bottom: 10px;
        border-bottom: 1px solid #eaeaea;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span.completed {
          background-color: #d4edda;
          text-decoration: line-through;
          color: #6c757d;
          padding: 10px;
        }

        form {
          display: inline-block;
        }

      }


      button.complete {
        background: $success-color;
        color: white;
        @include hover-transition;

        &:hover {
          background: #218838;
        }

      }

      button.delete {
        background-color: $error-color;
        color: white;
        margin-left: 10px;
        @include hover-transition;

        &:hover {
          background-color: #c82333;
        }
      }

      button.undo {
        background-color: $edit-color;
        color: white;
        margin-left: 10px;
        @include hover-transition;

        &:hover {
          background-color: #e0a800;
        }
      }
    }
  }
