* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.login {
  background-color: #ebebeb;
}

.primary-btn {
  background-color: #3775b9;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border: none;
}
.primary-btn:hover {
  background-color: #004080;
  color: #ffffff;
}

.container {
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}
.container .filter-bar {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}
.container .filter-bar .filters {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.container .filter-bar .filters .filter-btn {
  background: #ffffff;
  border: 1px solid #3775b9;
  color: #3775b9;
  padding: 8px 18px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.container .filter-bar .filters .filter-btn.active, .container .filter-bar .filters .filter-btn:hover {
  background-color: #3775b9;
  color: #ffffff;
}
.container .pagination {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
  flex-wrap: wrap;
}
.container .pagination .page-link, .container .pagination .next-btn {
  display: inline-block;
  padding: 10px 16px;
  border: 1px solid #3775b9;
  border-radius: 6px;
  color: #3775b9;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}
.container .pagination .page-link:hover, .container .pagination .next-btn:hover {
  background-color: #3775b9;
  color: #ffffff;
}
.container .pagination .active {
  background-color: #3775b9;
  color: #ffffff;
}
.container .pagination .dots {
  color: #575757;
  font-weight: bold;
  font-size: 1.1rem;
}
.container .blogs-wrapper {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.container .blog {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: 1px solid #8d9aa3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}
.container .blog:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.container .blog img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.container .blog .content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.container .blog .content h2 {
  position: absolute;
  font-size: 1.4rem;
  text-align: start;
  color: #3775b9;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
.container .blog .content .author {
  display: flex;
  gap: 10px;
  font-size: 0.85rem;
  color: #575757;
}
.container .blog .content .author .author-name {
  font-weight: bold;
}
.container .blog .content .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 5px;
}
.container .blog .content .tags .tag {
  font-size: 0.7rem;
  padding: 4px 12px;
  border-radius: 50px;
  border: 1px solid #3775b9;
}
.container .blog .content .tags .tag:hover {
  transition: all 0.3s ease-in-out;
}
.container .blog .content p {
  font-size: 0.9rem;
}
.container .blog .content button {
  display: flex;
  align-items: center;
  color: #3775b9;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
  padding: 8px 16px;
  transition: all 0.3s ease-in-out;
}
.container .blog .content button a {
  text-decoration: none;
  color: #3775b9;
}
.container .blog .content button a:hover {
  color: #004080;
}
.container .blog .content button:active, .container .blog .content button:hover {
  color: #004080;
}

.tableContainer {
  margin: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tableContainer .table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.tableContainer .table-header h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: rgba(55, 117, 185, 0.5);
  color: #ffffff;
  border: 1px solid #3775b9;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: lighter;
  font-size: 14px;
}
.tableContainer .search {
  display: flex;
  gap: 10px;
  align-items: center;
}
.tableContainer .search form {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.tableContainer .search input[type=text] {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.tableContainer .search button {
  color: #ffffff;
  background-color: #3775b9;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}
.user-table .admin {
  background-color: #e74c3c;
  color: white;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 0.9rem;
}
.user-table .user {
  background-color: #3498db;
  color: white;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 0.9rem;
}
.user-table th,
.user-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}
.user-table th span,
.user-table td span {
  font-size: 0.9rem;
  color: #dc3545;
}
.user-table th {
  background-color: #3775b9;
  color: #ffffff;
}
.user-table td {
  background-color: #f9f9f9;
}

.edit,
.delete {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
  color: #ffffff;
}

.edit {
  background: #ffc107;
}
.edit:hover {
  background: #e0a800;
}

.delete {
  background: #dc3545;
}
.delete:hover {
  background: #c82333;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #28a745;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 16px;
  animation: fadeIn 0.5s;
}
.toast.error {
  background: #dc3545;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
.modal .modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  position: relative;
}
.modal .close {
  font-size: 24px;
  cursor: pointer;
  font-weight: lighter;
  color: gray;
}
.modal .close:hover {
  color: #575757;
}

.todoApp {
  text-align: center;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  /* Notification Container */
  /* Success Notification */
  /* Error Notification */
  /* Fade In and Out Animation */
}
.todoApp .notification-container {
  position: fixed;
  top: 20px;
  right: 0px;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todoApp .notification {
  padding: 15px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeInOut 4s forwards;
}
.todoApp .notification.success {
  background-color: #28a745;
}
.todoApp .notification.error {
  background-color: #dc3545;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.todoApp form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.todoApp form input[type=text] {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.todoApp form button {
  color: #ffffff;
  background-color: #3775b9;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.todoApp form button:hover {
  background-color: #0056b3;
}
.todoApp ul {
  list-style-type: none;
  padding: 0;
  width: 600px;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
.todoApp ul::-webkit-scrollbar {
  width: 5px;
}
.todoApp ul::-webkit-scrollbar-thumb {
  background-color: #8d9aa3;
  border-radius: 10px;
}
.todoApp ul::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.todoApp ul li {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todoApp ul li span.completed {
  background-color: #d4edda;
  text-decoration: line-through;
  color: #6c757d;
  padding: 10px;
}
.todoApp ul li form {
  display: inline-block;
}
.todoApp ul button.complete {
  background: #28a745;
  color: white;
  transition: all 0.3s ease-in-out;
}
.todoApp ul button.complete:hover {
  background: #218838;
}
.todoApp ul button.delete {
  background-color: #dc3545;
  color: white;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}
.todoApp ul button.delete:hover {
  background-color: #c82333;
}
.todoApp ul button.undo {
  background-color: #ffc107;
  color: white;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}
.todoApp ul button.undo:hover {
  background-color: #e0a800;
}

/*# sourceMappingURL=style.css.map */
